name: "Update Angular Action"
on:
  push:
    branches:    
      - 'releases/*'   # only run in release distribution branches
  schedule:
    - cron: '* * 1 * *'

jobs:
  ngx-uptodate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@master
        with:
          ref: develop
          fetch-depth: 3

      - name: Set-up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Installing NPM modules
        run: npm ci

      - name: Updating ng dependencies
        uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          base-branch: develop
          project-path: ./demo